In [1]:
import pandas as pd

Задание 1

In [2]:
data = pd.read_csv('ratings.csv')

In [3]:
def rating (r):
    if r <= 2:
        return 'Низкий рейтинг'
    if r <= 4:
        return 'Средний рейтинг'
    return 'Высокий рейтинг'

In [4]:
data['Class'] = data['rating'].apply(rating)
data.head()

   userId  movieId  rating   timestamp            Class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

Задание 2

In [5]:
data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [7]:
def place(p):
    for regions, cities in geo_data.items():
        for city in cities:
            if city in p.split(' '):
                return regions
    return 'undefined'

In [8]:
data['region'] = data['keyword'].apply(place)
data[data.region != 'undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]